/*
 * Cover page
 */

/* Base structure */
body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    min-height: 100vh;
}
* {
    margin: 0px;
    padding: 0px;
}

/* Header */
.nav-masthead .nav-link {
    padding: .25rem 0;
    font-family: 'Roboto';
    font-weight: 600;
    color: rgba(255, 255, 255, 0.658);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, 0.514);
}
.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}
.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}
.navbar-toggler-icon {
    color:ivory !important;
    border-color: rgb(75, 75, 75) !important;
}
.navbar-toggler {
    border-color: rgb(75, 75, 75) !important;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
}

.bg-page {
    background: linear-gradient(rgb(0, 67, 96) 0%, rgb(0, 36, 52) 100%), rgb(39, 39, 39);
    background-attachment: fixed !important;
    background-size: contain !important;
}
.logo-png {
    filter: invert(1);
    vertical-align: middle;
    width: 340px;
}
.pdg-top {
   margin-top: 30px;
   padding-top: 10px;
}

/* Video */
.video-container {
    position: relative; /* keeps the aspect ratio */
    padding-bottom: 56.25%; /* fine tunes the video positioning */
    padding-top: 60px; overflow: hidden;
 }
.video-container iframe,
.video-container object,
.video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
