{% extends "layouts/base.jinja2" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <div class="text-center">
        <h1 class="text-danger">{{ title }}</h1>
        <h3>{{ description }}</h3>
        <a href="/" class="btn btn-primary">Regresar al inicio</a>
    </div>
{% endblock %}
