{% extends "layouts/base.jinja2" %}

{% block main %}
    <div class="text-center">
        <h1>{{ title }}</h1>
        <p class="lead">
            Aquí se encuentran la nueva generación de sistemas de información que operan en la nube.
        </p>
        <p class="lead">
            <a href="https://plataforma-web.justiciadigital.gob.mx/" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Plataforma Web</a>
        </p>
    </div>
{% endblock %}
